.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px;

  .left {
    .logo {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    gap: 32px;

    .links {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    .avatar {
      img {
        border-radius: 50%;
      }
    }
  }
}
